body{
  /* padding: 1.25rem; */
  font-family: Inter, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

/* .header{
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(29, 29, 29);
  box-shadow: rgb(26, 25, 25) 0px 2px 5px;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: end;
  font-size: 1.1rem;
}

.nav-logo{
  width: 3.5rem;
}

.main-content-wrapper{
  padding: 1.25rem;
}

.footer{
  padding: 1.25rem;
  background: black;
} */

.navigation-bar{
  padding: 1.25rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #21222A;
  color: #61DAFB;
  border-bottom: 1px solid rgb(29, 29, 29);
  box-shadow: rgb(26, 25, 25) 0px 1px 4px;
  min-height: 4rem;
  font-weight: 700;
}

main{
  padding: 1.25rem;
}

.facts-list {
  margin-top: 2rem;
}

.facts-list > li {
  padding-block: 1rem;
  line-height: 1rem;
}

.facts-list > li::marker{
  color: #61DAFB;
  font-size: 1.5rem;
}